.roundbox {
	width: 450px;
	height: auto;
	background: transparent;
	color: #fff;
	padding: 0px;
	margin: 0px;
}

.roundbox .roundbody {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	background-color: #444;
	height: auto;
	overflow: auto;
	border: 1px solid white;
	font-size: 12px;
}

td.roundtopright {
	background: transparent; 
	width: 18px;
   	height: 18px;
   	border: none;
}

td.roundtopleft { 
	background: transparent;
	width: 18px;
   	height: 18px;
   	border: none;
}

td.roundtop {
	background: transparent;
	border: none;
   	height: 18px;
}

td.roundbottomright {
	background: transparent;	
	width: 15px;
   	height: 15px;
}

td.roundbottomrightd {
	width: 15px;
   	height: 15px;
   	cursor: nw-resize;
}

td.roundbottomleft {
	width: 15px;
   	height: 15px;
}


td.roundbottom {
   	height: 15px;
   	width: auto;   	
}

img.cornertop {
   width: 18px;
   height: 18px;
   border: none;
   display: block !important;
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}