@CHARSET "ISO-8859-1";

div.LOGO {
    background: transparent;
    width:  248px;
    height: 52px;
}

.bigButton {
    border: 1px solid #ded4d4;
    background-color: gray;
    font-style: normal;
    height: 20px;    
}