<html xmlns:wicket="org.apache.wicket">    
    <body>         
    	<wicket:panel>      
    		<div style=" padding: 10px; padding-top: 20px;">      			
    			<div> 
    				<fieldset title="Table Options" style="width: 600px;"">
    					<legend>Table Options</legend>
    					<table>
    						<tr>
    							<td>
    								<b><span>Draggable Columns</span></b>:
    							</td>
    							<td>
    								<input wicket:id="draggableColoumns" type="checkbox">
    							</td>
    							<td>
    								&nbsp;&nbsp;
    							</td>
    							<td>
    								<b><span>Resizable Columns</span></b>:
    							</td>
    							<td>
    								<input wicket:id="resizableColumns" type="checkbox">
    							</td>
    							<td>
    								&nbsp;&nbsp;
    							</td>
    							<td>
    								<b><span>First Column Resizable</span></b>:
    							</td>
    							<td>
    								<input wicket:id="fresizableColumns" type="checkbox">
    							</td>
    						</tr>
    					</table>
    					<table>
    						<tr>
    							<td>
    								<b><span>Selection Mode</span></b>:
    							</td>
    							<td>
    								<select wicket:id="selectionMode">
    								
    								</select>
    							</td>
    						</tr>
    					</table>
    				</fieldset>
    			</div>	        		      	
    			<div style="float: left;">
    				<div>
    					<div wicket:id="table" style="padding-top: 5px;"></div>
    				</div>    				
    			</div>
	        </div>
		</wicket:panel>
    </body>
</html>