div.feedBackContainer {
	border: 1px solid gray;
	width: 100%;
	background-color: #ebf6fd;	
}

.feedBackContainer div.closeButton {
	float: right;
	padding: 2px;
}

div.feedBackMessages {
	padding: 10px 10px 10px 10px;
}

div.floatedFeedbacks {
	position: absolute; bottom: 25px; right: 15px; left: 15px;
}