<html xmlns:wicket="org.apache.wicket">
<body>
    <wicket:panel>    	
    	<table width="100%" cellpadding="1" cellspacing="1">
    		<tbody>
    			<tr>
    				<td style="vertical-align: top;" align="center">
    					<table align="center" cellpadding="3" cellspacing="3" class="navigation">
				    		<tbody>
				    			<tr valign="middle">
				    				<td>
				    					<span wicket:id="previous"></span>
				    				</td>
				    				<td>
				    					<span wicket:id="random"></span>
				    				</td>
				    				<td>
				    					<span wicket:id="next"></span>
				    				</td>
				    			</tr>
				    		</tbody>
				    	</table>
    					<div wicket:id="solutionBox">
	    					<table cellpadding="4" cellspacing="4">
					        	<tr>
					        		<td wicket:id="cell">
					        			<div wicket:id="source" class="letter">
					        				<span wicket:id="letter"></span>
					        			</div>
					        		</td>
					        	</tr>
					        </table>
					        
					        <div wicket:id="exito" class="solucionHead">
					        	<wicket:message key="yesSolutionIs"/>
					        </div>
					        
					        <table  cellpadding="4" cellspacing="4">	
					        	<tr>
					        		<td wicket:id="targets">
					        			<div wicket:id="target" class="letter target">
					        				<span wicket:id="letter"></span>
					        			</div>
					        		</td>
					        	</tr>        	
					        </table>
					        
					        <div wicket:id="solu">	
					        	<div class="solucionHead">
					        		<wicket:message key="solutionIs"/>			        		
					        	</div>
					        	
					        	<table cellpadding="4" cellspacing="4">
						       		<tbody>
						       			<tr>
						        		
						        		<td wicket:id="solution">
							        			<div class="letter solution">
							        				<span wicket:id="letter"></span>
							        			</div>
							        		</td>
							        	</tr>
						        	</tbody>				      	        	
						        </table>
					       	</div>
					       	 <script type="text/javascript" wicket:id="script">
        					 </script>
				    	</div>
				    	    
				        <div class="image">
				        	<img wicket:id="image"/>		        
				        </div>
    				</td>
    				<td style="width: 210px; vertical-align: top;">
    					<div class="vidas">VIDAS</div>
    					<div wicket:id="failureBox" class="failureBox">	
    						<img wicket:id="failure"/>
    						<div wicket:id="vidas" class="livesText"></div>
    					</div>
    				</td>
    			</tr>
    		</tbody>
    	</table>
               
       
     </wicket:panel>
</body>
</html>