<html xmlns:wicket="org.apache.wicket">    
    <body>         
    	<wicket:panel>        
	        <div class="pageHeader">
	            <table  style="margin: 0; padding: 0; width: 100%; height: 75px;" cellpadding="0" cellspacing="0">
	             <tr>
	                 <td class="banner-left" nowrap="nowrap">
	                     &nbsp;
	                 </td>
	                 <td class="banner-right" nowrap="nowrap">
	                     &nbsp;
	                 </td>
	             </tr>
	         </table>
	        </div>                        
		</wicket:panel>
    </body>
</html>