<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="org.apache.wicket">    
    <body id="AT_body" style="padding: 0px; margin: 4px;">           
        <div id="frame" class="backFrame" style="position: relative; left: 0px; right: 0px; overflow: visible;">
            <div wicket:id="header" style="width: 100%; position: absolute;"></div>
            <div id ="frameBody"  class="backFrame" style="width: 100%; height: 800px; position: relative; overflow: visible;">
                <wicket:child/>                            
                <div id="AT_body_modal" class="antilia-modal" style="display: none;">
        			&nbsp;	
         		</div>         		
            </div>     
        </div>
    </body>
</html>