<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:wicket="org.apache.wicket">
    <head>                
        <script type="text/javascript" src="yahoo-dom-event.js" ></script>
        <script type="text/javascript" src="dragdrop-min.js" ></script>
        <script type="text/javascript" src="animation-min.js"></script>
    </head>
    <body onresize="init();" onload="init();">         
        <script type="text/javascript">          
          function init() { 
             YAHOO.util.Dom.setStyle("frame", "visibility", ""); 
             YAHOO.util.Dom.setStyle("frame", "width", (YAHOO.util.Dom.getViewportWidth() -20)+ "px"); 
             YAHOO.util.Dom.setStyle("frame", "height", (YAHOO.util.Dom.getViewportHeight() -35) + "px");
             
             YAHOO.util.Dom.setStyle("frameBody", "height", (YAHOO.util.Dom.getViewportHeight() -35 -57) + "px");   

         }                        
		</script>  
        <div id="frame" class="backFrame">
            <div wicket:id="header"></div>
            <div id ="frameBody"  style="width: 100%; height:auto; position: relative; overflow: auto; background: transparent;">
                <wicket:child/>                            
            </div>     
        </div>
    </body>
</html>