
div.contents {
	width: 850px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #938c8c;
}

div.pheader {
	border: 1px solid red;
	height: 100px;
}

div.pbody {
	border: 1px solid green;
	height: 698px;
}

div.letter {
	border: 1px solid red;
	height: 50px;
	width: 50px;
	font-size: 40px;
	font: Verdana;
	vertical-align: middle;
	text-align: center;
}
	
td.banner-left {
	background: transparent;	
}

td.banner-right {
	background: transparent;	
}