
div.contents {
	width: 850px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #938c8c;
}

div.pheader {
	height: 86px;
}

div.pbody {
	height: 700px;
}

div.letter {
	border: 1px solid red;
	height: 50px;
	width: 50px;
	color: red;
	font-size: 40px;
	font: Verdana;
	vertical-align: middle;
	text-align: center;
}

td.hleft {
	background-image: url("LPT.gif");
	width: 286px;
	height: 86px;	
}

td.hright {
	background-image: url("LP.gif");
	height: 86px;	
}

div.target {
	border: solid 1px black;
	color: black;
}
		
td.banner-left {
	background: transparent;	
}

td.banner-right {
	background: transparent;	
}