.aProgBg {
     background:  none repeat scroll 0 0 #FFFFFF;
     border: 1px solid #D9D9D9;
     height: 15px;
     display: block;
     width: 200px;
     display: block;
     padding: 0px;
}
          
 .aProgFill {
   margin: 0px;
   padding: 0px;
   background: transparent url('ProgressFillGreen.gif') repeat-x scroll left top;
   display: block;
   height: 15px;
   border: none;
 }
          
 .aProgTxt {
 	margin: 0px;
   	padding: 0px;
	color: #484848;
	font-size: 9pt;
	height: 15px;
 } 