.wicketExtensionsWizardInnerTable {
	width: 100%;
	border: none;
	border-spacing: 0px; 	
	empty-cells: hide;
	border-collapse: collapse; 
}
.wicketExtensionsWizardOuterTable {
	width: 100%;
}

.wicketExtensionsWizardHeaderRow {
	height: 20px;
	background: url('./images/menu.png') repeat-x;
	
}
.wicketExtensionsWizardHeader {
	border: 1px solid white;
}

.wicketExtensionsWizardFeedback {
	border: 1px solid white;
}
.wicketExtensionsWizardView {
	border: 1px solid white;	
}
.wicketExtensionsWizardViewInner {
	margin: 10 10 10 10;
}
.wicketExtensionsWizardViewRow {
	height: 140px;
	height: 300px;
}

.wicketExtensionsWizardButtonBar {
	text-align: right;
	border: 1px solid white;
}

.wicketExtensionsWizardButtonBar input {
	width: 80px;
}
.wicketExtensionsWizardHeaderTitle {
	margin: 10 10 10 10;
	font-weight: bold;
}
.wicketExtensionsWizardHeaderSummary {
	margin: 10 5 5 5;
	font-style: italic;
	display: none;
}
