.tbody {
	border: 1px solid #b0a4a4;
  	background-color: #e6eaea;
  	margin: 0 0 0 0;
  	width: auto;
  	overflow: auto;
}

.theader {	
	vertical-align: bottom;
	height: 10px;
}

tr.tbodyrow0 {	
	background-color: #d2ddf4;
	color: black;
}

span.pageNumber  {
	background-color:transparent;
	border: none;
  	vertical-align: middle;
  	padding: 0px;
	margin: 0px;
	padding-top: 3px;
	height: 16px;
}

tr.tbodyrow1 {	
	background-color: #c6d4f1;
	color: black;
}

tr.selectedrow {
	background-color: #e6eaea;
	color: black;
}

tr.highlightedRow {
	background-color: #f8f0c1;
	color: black;
}

.theaderrow {	
	background-color: #9eb7e8;	
}

.theaderrow td {	
	color: black;
	text-align: center;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 1px;
}

.theaderrow .resizeCell {
	border-right: 1px inset #f6faff;
}

.ondrop {
    border-left: 1px solid white;
}

td.tbodycol {
	padding: 1px; 
	margin: 0px;
	vertical-align: middle;
	border-right: 1px inset #f6faff;	
}

td.droptarget {    
    background: url("images/drop-arrow-black.png") 0px 2px no-repeat transparent;
}

.columns ul {
    list-style:  none;    
}

.columns li {
    display: block;
    float: none;
}

.theaderrow .addCol {
	white-space: nowrap; 
	padding: 0;		
}


.theaderrow .resCol{
	width: 4px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: w-resize;
}