.tbody {
	border: 1px solid #b0a4a4;
  	background-color: #ded4d4;
  	margin: 0 0 0 0;
  	width: auto;
  	overflow: auto;
}

.theader {	
	vertical-align: bottom;
	height: 10px;
}

tr.tbodyrow0 {	
	background-color: transparent;
	color: black;
}

tr.tbodyrow1 {  
    background-color: #fff8f8;
    color: black;
}

span.pageNumber  {
	background-color: transparent;
	border: solid 0px black;
  	vertical-align: baseline;
  	color: black;
  	padding: 0;
	margin: 0;	
}

tr.selectedrow {
	background-color: #e6eaea;
	color: black;
}

tr.highlightedRow {
	background-color: #f8f0c1;
	color: black;
}

.theaderrow {	
	background-color: #fff8f8;
}

.theaderrow td {	
	color:  #807474;
	text-align: center;
	font-weight: bold;
}

.theaderrow .resizeCell {
	border-right: 1px solid #807474;
}

td.tbodycol {
	padding: 1; 
}



.theaderrow .addCol {
	white-space: nowrap; 
	padding: 0;		
}


.theaderrow .resCol{
	width: 4px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: w-resize;
}