
div.contents {
	width: 900px;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #3e4d3e;
	background-image: url("Green.gif");
	background-repeat: repeat-x;
}

div.pheader {
	height: 70px;
}

div.pbody {
	height: 600px;	
	border-top: 3px solid #a6ac9c;
}

div.image {
	border: solid 1px #3e4d3e; 
	width: 400px; 
	margin-top: 20px; 
	padding: 3px; 
	overflow: visible;	
}

div.failureBox {
	border: solid 1px black; 
	width: 200px; 
	margin-top: 20px; 
	vertical-align: middle; 
	text-align: center; 
	position: relative;
	padding: 3px;
}

div.livesText {
	position: absolute; 
	top: 91px; 
	left: 92px; 
	font-size: 20px;
}

div.letter {
	border: 1px solid #4a584a;
	height: 50px;
	width: 50px;
	color: #3e4d3e;
	font-size: 40px;
	font: Verdana;
	vertical-align: middle;
	text-align: center;
}

div.solution {
	border: 1px solid red;
	color: red;
	text-decoration: blink;
}

div.solucionHead {
	font-size: 35px;
	font: Verdana;
	color: black;
	padding-bottom: 20px;
	padding-top: 20px;
}

DIV.vidas {
	background-color: #536653;
	text-align: center;
	font-size: 15px;
	width: 200px; margin-top: 20px;
}

td.hleft {
	background-image: url("bgl.gif");
	width: 420px;
	height: 70px;	
}

td.hright {
	background-image: url("bg.gif");
	height: 70px;	
}

div.target {
	border: solid 1px black;
	color: black;
}
		
td.banner-left {
	background: transparent;	
}

td.banner-right {
	background: transparent;	
}

table.navigation {
	background-image: url("Navegation.gif");
	background-repeat: no-repeat;
	background-position: -4px 2px;
	width: 160px;
	height: 45px;
}

table.navigation > td {
	text-align: center;
}

img.smallbutton {
	padding-top: -2px;
}

button.login {
	border: 1px ridge gray; 
	background-color: #4c5743;
	color: #dbe7cf; 
	padding: 2px;
}