.tbody {
	border: 1px solid #b0a4a4;
  	background-color: #e6eaea;
  	margin: 0 0 0 0;
  	width: auto;
  	overflow: auto;
}

tr.theader {	
	margin: 0px;
	padding: 0px;
	height: 20px;
}

td.theader {	
	margin: 0px;
	padding: 0px;
	height: 20px;
}

tr.tbodyrow0 {	
	background-color: #d2ddf4;
	color: black;
}

div.pNumber {
	padding-top: 3px; 
	padding-left: 2px;		
}

span.pageNCurr, span.pageNOff, span.pageNSep  {
	background-color:transparent;
	vertical-align: middle;
  	margin: 0px;
  	margin-top: 2px;
	padding-top: 0px;
	padding-left: 2px;	
}

tr.tbodyrow1 {	
	background-color: #c6d4f1;
	color: black;
}

tr.selectedrow {
	background-color: #e6eaea;
	color: black;
}

tr.highlightedRow {
	background-color: #f8f0c1;
	color: black;
}

.theaderrow {	
	background-color: #9eb7e8;	
}

.theaderrow td {	
	color: black;
	text-align: center;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 1px;
}

.theaderrow .resizeCell {
}

.ondrop {
    border-left: 1px solid white;
}

td.tbodycol {
	padding: 0px; 
	margin: 0px;
	vertical-align: middle;
	padding-left: 3px;
}

td.droptarget {    
    background: url("images/drop-arrow-black.gif") 1px 3px no-repeat transparent;
}

div.ondrag {    
    border: 1px solid white;
}

div.headerTitle {
	width: 98%; 
	height: 100%; 
	vertical-align: bottom; 
	margin-top:  3px; 
	margin-bottom: 2px;
}
span.defaultBodyCell {
	width: 100%; 
	overflow: hidden; 
	margin-top: 0px;
	margin-bottom: 0px;
}

.columns ul {
    list-style:  none;    
}

.columns li {
    display: block;
    float: none;
}

.theaderrow .addCol {
	white-space: nowrap; 
	padding: 0;		
}

img.dropColumn {
	height: 16px; 
	width: 16px; 
	margin-top: 2px;
}

div.dropColumn {
	height: 16px; 
	width: 16px; 
	vertical-align: middle;
}

.theaderrow .resCol{
	width: 10px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: w-resize;
	background: url("images/ColumnResize.gif") 0px 3px no-repeat;
}