.tbody {
	border: 1px solid #b0a4a4;
  	background-color: #e6eaea;
  	margin: 0 0 0 0;
  	width: auto;
  	overflow: auto;
}

tr.theader {	
	margin: 0px;
	padding: 0px;
	height: 20px;
}

td.theader {	
	margin: 0px;
	padding: 0px;
	height: 20px;
}

tr.tbodyrow0 {	
	background-color: #d2ddf4;
	color: black;
}

div.pNumber {
	padding-top: 3px; 
	padding-left: 2px;		
}

.firstHeaderMenu {
	margin-left: 3px;
}

span.pageNCurr, span.pageNOff, span.pageNSep  {
	background-color:transparent;
	vertical-align: middle;
  	margin: 0px;
  	margin-top: 2px;
	padding-top: 0px;
	padding-left: 2px;	
	height: 20px;
}

tr.tbodyrow1 {	
	background-color: #c6d4f1;
	color: black;
}

tr.selectedrow {
	background-color: #e6eaea;
	color: black;
}

tr.highlightedRow {
	background-color: #f8f0c1;
	color: black;
}

.theaderrow {	
	background-image: url("images/tableheader.png");
	background-repeat: repeat-x;		
}

.theaderrowOver  {
	background-image: url("images/tableheader.png");
	background-repeat: repeat-x;
}

.theaderrow > td, .theaderrowOver > td {	
	color: black;
	text-align: center;
	font-weight: bold;
	padding-bottom: 2px;
	padding-top: 1px; 
	border-right: 1px solid white;
}

td.defaultHeader ,  td.defaultHeaderOver{
	padding-top: 0px;
	padding-bottom: 0px;
}

.theaderrowOver .defaultHeaderOver .headerTitle {
	color: black;
}



.ondrop {
    border-left: 1px solid white;
}

td.tbodycol {
	padding: 0px; 
	margin: 0px;
	vertical-align: middle;
	padding-left: 3px;
	border-right: 1px solid white;
}

td.droptarget {    
    background: url("images/drop-arrow-white.gif") 1px 0px no-repeat transparent;
}

div.droptarget  {    
    background: url("images/drop-arrow-white.gif") 1px 1px no-repeat transparent;
}

div.ondrag {    
    border: 1px solid white;
}

div.headerTitle, div.headerTitleAsc, div.headerTitleDesc {
	width: 98%; 
	height: 100%; 
	vertical-align: bottom; 
	margin-top:  2px; 
	margin-bottom: 2px;
}

div.headerTitleAsc {
	background-image: url("images/bullet_arrow_up_small_white.gif");
  	background-position: right;
  	background-repeat: no-repeat;	
}

div.headerTitleDesc {
	background-image: url("images/bullet_arrow_down_small_white.gif");
  	background-position: right;
  	background-repeat: no-repeat;
}

span.defaultBodyCell {
	width: 100%; 
	overflow: hidden; 
	margin-top: 0px;
	margin-bottom: 0px;
}

.columns ul {
    list-style:  none;    
}

.columns li {
    display: block;
    float: none;
}

.theaderrow td.addCol, .theaderrowOver td.addCol {
	white-space: nowrap; 
	padding: 0;		
	border-right: none;
}

img.dropColumn {
	height: 16px; 
	width: 16px; 
	margin-top: 2px;
}

div.dropColumn {
	height: 16px; 
	width: 16px; 
	vertical-align: middle;
}

.theaderrow .resCol, .theaderrowOver .resCol {
	width: 10px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: w-resize;
	background: url("images/ColumnResize.gif") 0px 0px no-repeat;
}

.theaderrow .noResCol, .theaderrowOver .noResCol {
	width: 10px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: default;
	background: url("images/ColumnDivide.gif") 0px 0px no-repeat;
}

.theaderrow .fresCol, .theaderrowOver .fresCol{
	width: 10px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: w-resize;
	background: url("images/ColumnResize.gif") 0px 0px no-repeat;
}

.theaderrow .fnoResCol, .theaderrowOver .fnoResCol{
	width: 10px;
	white-space: nowrap; 
	padding:0;
	margin: 0px;
	cursor: default;
	background: url("images/ColumnDivide.gif") 0px 0px no-repeat;
}